body {
    font-family: Arial, sans-serif;
    
}
.question-image,
.correction-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.correction-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.correction-link:hover {
    background-color: #0056b3;
}


.main-title, .question-title {
    font-weight: bold;
}

.question {
    margin-bottom: 40px;
    display: none;
}

.active {
    display: block;
}

.answer-label {
    display: block;
    margin: 10px auto;
    width: 60%;
    font-size: 18px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 50px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-input[type="radio"] {
    display: none;
}

.answer-label:hover {
    background-color: lightgray;
}

.answer-input[type="radio"]:checked + .answer-label {
    background-color: lightblue;
    border-color: darkblue;
}

.correct {
    background-color: lightgreen;
    border-color: green;
}

.wrong {
    background-color: lightcoral;
    border-color: red;
}

.correct-answer {
    font-weight: bold;
    color: green;
}

.hidden {
    display: none;
}

.submit-button, .next-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.submit-button:hover, .next-button:hover {
    background-color: darkblue;
}

.submit-button:disabled, .next-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#quiz-container {
    margin-top: 50px;
    
}

.next-button {
    display: none;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
}

.corpo{
    text-align: center;
}

.show-button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(18, 151, 25);
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    
}

.show-button:hover{
    background-color: rgb(19, 110, 22);
}

.updiv{
    width: 75vw;
    height: 80vh;
    background-color: rgb(240, 240, 240);
    border-radius: 3vh;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none; /* Inicialmente invisível */
    z-index: 2; /* A div ficará acima do botão */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aparecer 1s forwards; /* Aplica a animação */
}

.close-button{
    margin-top: 1vw;
    cursor: pointer;
    border: 0;
    color: rgb(150, 150, 150);
    transition: ease-in-out 0.2s;
}

.close-button:hover{
    margin-top: 1vw;
    cursor: pointer;
    border: 0;
    color: rgb(0, 0, 0);
}


.button:active{
    background-color:rgb(9, 9, 75);
}

@keyframes aparecer {
    0% {
        transform: translate(-50%, -300%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}