@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}


.central-div {
    width: 50%; /* Aumente a largura para 50% */
    background-color: #ededed;
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 30px; /* Aumenta o padding para dar mais espaço ao conteúdo */
    text-align: center;
    margin-top: 20px; /* Adiciona espaço entre os elementos anteriores */
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.slide {
    height: 100%;
    width: 275px;
    position: absolute;
    background-color: #1E38E6;
    transition: 0.5s ease;
    transform: translateX(-275px);
    z-index: 3;
}

h1 {
    color: white;
    font-weight: 800;
    text-align: left;
    padding: 10px 0;
    padding-left: 80px;
    pointer-events: none;
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a.burguer {
    color: #143699;
    background-color: white;
}

ul li a i {
    width: 40px;
    text-align: center;
}

.nave {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 40px;
    top: 21px;
    left: 11px;
    z-index: 4;
    cursor: pointer;
    border-radius: 2px;
    background-color: transparent;
}

.toggle .common {
    position: absolute;
    height: 2.2px;
    width: 20px;
    background-color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 13px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .middle_line {
    left: 2px;
    top: 13px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .bottom_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 14px 2px;
    width: 100%;
    background-color: #1E38E6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.logo_img {
    height: 45px;
    margin-left: 86%;
    width: auto;
    margin-top: 5px;
}

#link {
    margin-top: -5px;
}

.material-symbols-outlined {
    margin-right: 20px;
    margin-top: 7px;
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
        
}


.container {
    width: 100%;
    height: auto;
}

    .corpo{
        width: 80%;
        height: auto;
        margin: 20px auto;
    }
    
    .box-aulas{
        width: 50%;
        height: 200px;
        
        
        float: left;
    }
    .box-questoes{
        width: 50%;
        height: 200px;
        float: right;
    }
    
    .barra-aulas, .barra-questoes {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Isso garante que o conteúdo seja distribuído */
        width: 99%;
        height: 10vh;
        margin-top: 5%;      
        border-radius: 10px;
        background-color: #7e88a2;
        position: relative;
        overflow: hidden;
    }

    #porcentagem-aula, #porcentagem-questoes {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 10vh;
        border-radius: 10px;
        background-color: #1E38E6;
        width: 0%; /* Defina a largura dinamicamente */
        padding-left: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #porcentagem-aula-text, #porcentagem-questoes-text {
        color: white;
        font-weight: 15;
        z-index: 1; /* Para que o texto esteja sobre a barra */
        padding-left: 10px;
    }
   
    #porcentagem-aula-text {
        margin-left: 10%;
    }
    
    #porcentagem-questoes-text {
        margin-left: 10%;
    }
    
    h2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 15;
        padding-right: 5px; /* Ajuste o espaçamento à direita */
        margin: 35%;
        z-index: 2; /* Para que o texto esteja sobre a barra */
        white-space: nowrap;
    }
      

    .banner_img {
        width: 100%;
        height: 45vh;
        border-radius: 8px;
    }
    .banner{
        width: 100%;
        height: 45vh;
        margin: 20px auto;
        border-radius: 10px;
        background-color: #1E38E6;
    }
    
    @media (max-width: 768px) {
        .corpo {
            width: 90%;
        }
        .central-div {
            width: 80%; /* Mais estreita para telas pequenas */
        
        .box-aulas, .box-questoes {
            width: 100%;
            height: auto;
            float: none;
            margin-bottom: 20px;
        }
    
        .barra-aulas, .barra-questoes {
            width: 80%;
            margin-left: 10%;
        }
        
        .banner_img {
            height: 20vh;
        }

        .banner {
            height: 20vh;
        }

        #porcentagem-aula {
            width: 60%;
        }
    
        #porcentagem-questoes {
            width: 60%;
        }
        
    .navbar {       
        align-items: flex-start;
    }

    
    .material-symbols-outlined {
        margin-top: 15px;
    }

    
    }
    
    @media (max-width: 480px) {
        .corpo {
            width: 90%;
        }
        #porcentagem-aula, #porcentagem-questoes {
            width: 70%;
        }
        .barra-aulas, .barra-questoes {
            width: 90%;
            margin-left: 5%;
        }
    
        h1 {
            font-size: 24px;
        }
    
        .banner {
            height: 20vh;
        }
    
        .banner_img {
            height: 20vh;
        }

        .navbar {
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
        }
    
        .logo_img {
            height: 40px;
            margin-left: 35px;
            margin-top: 3px;
        }
    
        .toggle {
            height: 25px;
            width: 25px;
        }
    }
    