.corpo{
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  }

.card{
  background-color: #0d1557;
  width: 220px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #000000aa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card img {
  background-color: #1273eb;
  width: 100%;
  height: 130px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;

}
.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50%;
  padding: 8px;
}
.card h1 {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}
.card h2 {
  font-size: .9rem;
  color: #c0c0c0;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 21px;
}
.card button {
  appearance: button;
  border: 1px solid #1652F0;
  background-color: #0244f8;
  color: #ffffff;
  height: 30px;
  width: 12vw;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  line-height: 1.15;
  border-radius: 4px;
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: visible;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media (max-width: 600px) {
  .card button {
      height: 28px;
      width: 15vw;
      font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .card button {
      height: 26px;
      width: 20vw;
      font-size: 0.8rem;
  }
}
.button:disabled {
  opacity: .5;
}

.button:focus {
  outline: 0;
}
.button:active {
  background-color: #0039D7;
  border-color: #0039D7;
}
.card button:hover {
  background-color: #0a0ee4;
  border-color: #0a0ee4;
  cursor: pointer;
}
@media (max-width: 600px) {
.card {
  width: 150px;
  height: auto;
}

.card img {
  height: 100px;
}

.card h1 {
  font-size: 1rem;
}

.card h2 {
  font-size: .8rem;
}

.card button {
  font-size: .9rem;
}
}

@media (max-width: 400px) {
.card {
  width: 120px;
  height: auto;
}

.card img {
  height: 80px;
}

.card h1 {
  font-size: .9rem;
}

.card h2 {
  font-size: .7rem;
}

.card button {
  font-size: .8rem;
}
}

